.postsItem {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &:not(:first-child) {
    margin-top: 3rem;
  }

  .title {
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem;
    color: var(----gray-100);
  }

  .subTitle {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--gray-200);
  }

  .bottomInfo {
    display: flex;
    gap: 1.75rem;
    margin-top: 1rem;

    img {
      height: 20px;
      width: 20px;
    }

    time, span {
      font-weight: 400;
      font-size: 0.85rem;
      color: var(--gray-300);
    }

    .createdAtContainer,
    .authorContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.loadMore {
  color: var(--pink-10);
  margin: 3rem 0;
  font-size: 1.125rem;
  background: transparent;
  border: none;
}

.loadingGif {
  height: 30px;
  width: 30px;
}

.overlayLoadingGif {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, .5);
  opacity: .7;
  z-index: 100000;
  top: 0;
  right: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: .2s;

  img {
      height: 50px;
  }
}
